<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>


        <div class="grid-container">
                <div style="background-image: url('static/imgs/5c1433bd.jpg'); background-size:cover;" class="asdf">
                    <div class="fdsa">
                        <div>denis</div>
                        <br>
                        <h6>15$</h6>
                        <h6></h6>
                    </div>    
                </div>

        </div>



    </div>
</body>
<!-- <script src="{{ url_for('static', filename='home.js') }}"></script> -->
<!-- </html>    <script src="{{ url_for('static', filename='script.js') }}?arg1={{ arg1 }}&arg2={{ arg2 }}"></script> -->