<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    
    <a href="/login">
        <button class="login redirect redirects">
            login
        </button>
    </a>
    <a href="/home">
        <button class="home redirect redirects">
            home
        </button>
    </a>
    <div class="container">
        <h1 class="singinHeader">
            Sing In
        </h1>


        <input class="name dataInput" type="text" placeholder="Name">
        <input class="password dataInput" type="password" placeholder="Password">
        <input class="passRecheck dataInput" type="password" placeholder="Commit Password">


        <button onclick="singin()">Sing In</button>




    </div>
</body>
<script src="{{ url_for('static', filename='singin.js') }}"></script>
</html>